* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary: #3a43ed;
    --primary-hover: #2f57e8;

    --bg-body: #0d111a;
    --bg-card: #2d323a;

    --text-main: #ffffff;
    --text-muted: #94a3b8;

    --border-color: #323944;

    --shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}


body {
    background-color: var(--bg-body);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background: var(--bg-card);
    padding: 40px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
    width: 100%;
}

.card-header {
    margin-bottom: 1.5rem;
    text-align: left;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-main);
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 0.9rem;
    color: var(--text-muted);
    line-height: 1.4;
}

.card-content {
    background: var(--bg-card);
    padding: 40px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
    width: 100%;
    text-align: center;
    border-radius: 16px;
}

.card-action {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    transform: translateY(-1px);
}

.btn-primary:active {
    transform: translateY(0);
}

.section-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-main);
}

.user-list {
    list-style: none;
}

.user-list li {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.95rem;
}


.empty-state {
    text-align: center;
    padding: 20px 0;
    color: var(--text-muted);
    font-style: italic;
    font-size: 0.85rem;
}

.message {
    display: none;
    background-color: rgb(255, 42, 42);
    color: var(--text-main);
    border-radius: 14px;
    text-align: center;
    padding: 10px;
    margin: 63px 0 0 0;    
}


.item-list {
    background-color: var(--primary);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.item-list:hover {
    background-color: var(--primary-hover);
    transform: translateY(-1px);
}

@media (max-width: 768px) {
    .app-container {
        grid-template-columns: 1fr;
    }
}